::selection {
  background: rgba($yellow,.9); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.my-home {
	// background:rgb(49,46,46);
	background:url(./images/geometry2.png);
	background-repeat:repeat;
	background-size:390px;
	width:100%;
	//this is for chrome and other browsers so i can reduce the margin//
	@supports not ((-webkit-clip-path: polygon(100% 0, 100% 83%, 61% 100%, 0 84%, 0 0)) or (clip-path: polygon(100% 0, 100% 83%, 61% 100%, 0 84%, 0 0)) ){
    height:100vh;
		}
	-webkit-clip-path: polygon(100% 0, 100% 83%, 61% 100%, 0 84%, 0 0);
  	clip-path: polygon(100% 0, 100% 83%, 61% 100%, 0 84%, 0 0);
  	height:90vh;
  	margin:0 auto;
  	position:relative;
  	z-index:100;
	.info {
		text-align:left;
		padding-left:10%;
		padding-right:10%;
		h1 {
			color:$blue;
			margin:0;
			font-size:13rem;
			padding-top: 114px;
			margin-bottom: -5px;
		}
		h2 {
			font-size:4rem;
			color:$blue;
			letter-spacing:0.6px;
			margin-top: -3px;
			margin-bottom:3rem;
			display:inline;
			&:first-of-type {
				font-size: 6rem;
				color: $orange;
				// border-bottom: 4px solid #fbee61;
				// margin-bottom: 24px;
				display:inline-block;
				width:100%;
				&:after {
					content: '';
				    display: block;
				    background: $orange;
				    height: 3px;
				    margin-top:1rem;
				    width:40%;
				}
			}
		}
	}

}

.typed-cursor {
	font-size:4rem;
}
.about-me {
	// background:$blue;
	@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%)) or (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%)) ){
    margin-top:0;
    }
	background: linear-gradient(rgba(0, 185, 235, 0.05),#0ba7cb),url(images/seamless.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
	position:relative;
	z-index:50;
	margin-top:-150px;
	.wrapper {
		padding-top:200px;
		padding-bottom:5%;
		@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%)) or (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%)) ){
		.wrapper {
    	padding-top:20px;
		}
	}
		.about-flex{
			display:flex;
			.my-pic {
				h2 {
					font-size:7rem;
					text-transform:uppercase;
					color:$yellow;
					letter-spacing:2px;
					margin-top:0;
					margin-bottom:1rem;
				}
				h3 {
					font-size:2.5rem;
					text-transform:uppercase;
					padding-right:8rem;
					display:inline-block;
				}
				p {
					font-size:1.9rem;
					padding-right:8rem;
					color:white;
					margin-top:0;
				}
				strong{
					color:yellow;
				}
				a {
					color:white;
					font-weight:700;
				}
			}
			div {
				flex-direction: column;
			    justify-content: center;
			    display: flex;
				img {
					width:400px;
					background:white;
				}
			}
		}
		h3 {
			color:$yellow;
			display:inline-block;
			&:after {
					content: '';
				    display: block;
				    background: $yellow;
				    height: 3px;
				    margin-top:1rem;
					}
		}
	}
}
.my-pic {
	width:60%; 
}


.devicons {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	justify-content:flex-start;
	padding-bottom:20%;
	width:60%;
		i {
		font-size:4rem;
		padding: 1rem;
		padding-top:0;
		color:white;
		&:first-of-type {
			padding-left:0;
		}
	}
}

.my-work{
	background:url(./images/geometry2.png);
	background-repeat:repeat;
	background-size:390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top:-290px;
	width:100%;
	padding-top:300px;
	padding-bottom:20%;
	font-size:2rem;
	text-align:center;
	h2{
		font-size:7rem;
		text-transform:uppercase;
		color:$orange;
		letter-spacing:2px;
		padding-bottom:3rem;
		margin-top:1rem;
	}
	div.wrapper{
		display:flex;
		margin-bottom:3rem;
		background:white;
		// border:4px solid rgb(54,54,54);
		box-shadow: 2px 2px 5px 0 rgba(130, 128, 128, 0.3);
		.work-text {
			width:50%;
			display:flex;
			flex-direction:column;
			text-align:left;
			// padding-left:8rem;
			p:first-of-type {
				font-size:3.5rem;
				font-family: 'Inconsolata', monospace;
				text-transform:uppercase;
				line-height:1;
				color:$blue;
				font-weight:700;
				padding-top:3rem;
				margin-bottom: 3px;
				&:after {
					content: '';
				    display: block;
				    background: $blue;
				    height: 3px;
				    width: 60%;
				    margin-top:1rem;
				}
			}
			p:last-of-type {
				font-size:2rem;
				min-height:175px;
				line-height: 37px;
			}
		}
		button {
			height:50px;
			width:140px;
			color:white;
			margin-bottom:3rem;
			&:hover{
				color:$orange;
			}

		}
		img {
			width:70%;

			}
		}
}

.workOne:nth-child(odd){
	display:flex;
	flex-direction:row-reverse;
	padding-right:8rem;
	padding-left:0;
}

.workOne:nth-child(even){
	padding-right:0;
	padding-left:8rem;
}
.contact-me {
	background: linear-gradient(rgba(0, 185, 235, 0.05),#0ba7cb),url(images/seamless.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	// background:$blue;
	-webkit-clip-path: polygon(51% 11%, 100% 0, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(51% 11%, 100% 0, 100% 100%, 0 100%, 0 0);
	margin-top:-150px;
	text-align:center;
	padding-top:15%;
	.contact-flex {
		display:flex;
	}
	h2 {
		color:$yellow;
	}
}

.connect {
	text-align:left;
	width:30%;
	p {
		color:white;
		margin:1rem 0;
	}
	h3 {
		color:$yellow;
	}
	i {
		padding-right:1.5rem;
	}
}

.icon-flex {
		font-size:2rem;
		display:flex;  
    	justify-content: flex-start;
		// font-size:6rem;
		i {
			padding-left: 1rem;
			padding-right:1rem;
			transition:all 0.4s ease;
			&:hover{
				color:$orange;
			}
		}
}

.contact-form {
	font-size:2rem;
	width:60%;
	text-align:left;
	padding-bottom:8rem;
	input {
		padding:1rem;
		background-color:white;
		width:90%;
		border:none;
	}
	textarea {
		background-color:white;
		width:90%;
		border:none;
		padding:1rem;
	}
	.wpcf7-submit {
			width:30%;
			color:white;
			background: #df674f;
	    	transition: all .2s ease;
	    	border: 3px solid #df674f;
	    	box-shadow: 5px 5px 5px 0 rgba(223,103,79,.3);
	    	text-transform:uppercase;
	    	&:hover {
	    		background:white;
	    		border: 3px solid black;
	    		color:$orange;
	    		font-weight:700;
	    		}
			}
}

label {
	color:white;
	margin-bottom:1rem;
}
.address {
	text-align:left;
	width:30%;
	color:white;
	p{
		color:white;
	}
	h3 {
		color:$yellow;
	}
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.media-button {
	display:none;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
