$orange: rgb(223,103,79); 
$yellow: rgb(251,238,97);
$blue: rgb(1,174,250);
$green: rgb(201,249,189);
$grey: rgb(218,218,218);
$overlay: rgb(18,16,17);
$purple: rgb(220,120,219);
$darkgrey:rgb(42,42,42);
$teal:rgb(18,208,183);



a {
	color: white;
	text-decoration: none;
	&:hover {
		color:$orange;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}
button {
	background:$orange;
	border:none;
	text-transform:uppercase;
	transition: all .2s ease;
	border:3px solid $orange;
	box-shadow: 5px 5px 5px 0px rgba($orange,0.3 
		);
	&:hover {
		background:white;
		border:3px solid black;
		color:$orange;
		font-weight:bold;
	}
}

i {
	color:$grey;
}